body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

input {
  padding: 0.5rem;
  margin: 0.5rem 0;
  display: block;
}

button {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

/* globals.css */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f0f2f5;
}

.home-container {
  text-align: center;
  padding-top: 100px;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.btn {
  padding: 15px 25px;
  background-color: #0070f3;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #0059c1;
}
